<div class="container-fluid">
  <div class="row">
    <p id="notice"><%= notice %></p>
    <h1> Registered Users</h1>
      <% @users.each do |user| %>
      <br>
        <tr>
          <p><%= link_to user.email, edit_user_path(user) %></p>
          <td><%= link_to 'Delete User', user, method: :delete, data: { confirm: "Are you sure to delete #{user.email}?" } %></td>
          <br>
        </tr>
      <% end %>
    <br>
    <p><%= link_to "Visit Bugs page", bugs_path %></p>
  </div>
</div>